.main {
    margin: 0 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #222222;
}

.carousel-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.carousel-header {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}

.controls {
    display: flex;
    gap: 8px;
}

.section-title h3 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.section-title span {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: relative;
    top: -2px;
}

.custom-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.custom-btn i {
    color: black;
}

.custom-btn:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
    background: #e5e4e4;
}

.custom-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: white;
    border: 1px solid #e5e4e4;
    ;
}

.swiper {
    width: 100%;
    padding-top: 20px;
}

.swiper-slide {
    width: 250px;
    container-type: inline-size;
}

.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-text {
    font-size: 11px;
    opacity: 50%;
    margin: 0;
    margin-bottom: 5px;
}

@container (max-width: 180px) {
    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 10px;
    }
}

@container (min-width: 180px) {
    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 11px;
    }
}

@container (min-width: 300px) {
    .card-title {
        font-size: 22px;
    }

    .card-text {
        font-size: 16px;
    }
}

.heart-btn {
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart-btn .heart-fill {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.heart-btn .heart-outline {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.heart-btn:hover .heart-fill,
.heart-btn:hover .heart-outline {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.badge {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 10px;
    font-size: 10px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;

}